{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
{% set classes = [ 'product-type--' ~ product_entity.bundle ] %}
<article{{ attributes.addClass(classes) }}>
  <div class="usa-grid-full">
    <div class="usa-width-two-thirds">
      {{- product.body }}
      <div class="usa-alert usa-alert-info product--variation--selected-info">
        {{- product|without('body', 'variations', 'field_image') }}
      </div>
      {{- product.variations -}}
    </div>
    <div class="usa-width-one-third">
      {{ product.field_image }}
    </div>
</article>
